llama-index==0.10.27
transformers
llama-cpp-python 
spacy
nest-asyncio
langchain
python-dotenv==1.0.0
PyYAML
langchain_community
huggingface_hub
faiss-cpu 
llama-index-vector-stores-faiss 
sentence_transformers
llama-index-embeddings-huggingface
llama-index-llms-langchain
-r requirements_torch.txt
