llama-index==0.10.27
langchain-ibm==0.1.3
ibm-watson-machine-learning==1.0.354
ibm-generative-ai==2.3.0
langchain-openai==0.1.1
redis==5.0.3
transformers
llama-cpp-python 
spacy
nest-asyncio
langchain
python-dotenv==1.0.0
PyYAML
langchain_community
huggingface_hub
faiss-cpu 
llama-index-vector-stores-faiss 
sentence_transformers
llama-index-embeddings-huggingface
llama-index-llms-langchain
-r requirements_torch.txt

