# Requirements for hosted control planes


In the context of hosted control planes, a management cluster is an Red Hat OpenShift Container Platform cluster where the HyperShift Operator is deployed and where the control planes for hosted clusters are hosted.
The control plane is associated with a hosted cluster and runs as pods in a single namespace. When the cluster service consumer creates a hosted cluster, it creates a worker node that is independent of the control plane.
You can run both the management cluster and the worker nodes on-premise, such as on a bare-metal platform or on OpenShift Virtualization. In addition, you can run both the management cluster and the worker nodes on cloud infrastructure, such as Amazon Web Services (AWS). If you use a mixed infrastructure, such as running the management cluster on AWS and your worker nodes on-premise, or running your worker nodes on AWS and your management cluster on-premise, you must use the PublicAndPrivate publishing strategy and follow the latency requirements in the support matrix.
In Bare Metal Host (BMH) deployments, where the Bare Metal Operator starts machines, the hosted control plane must be able to reach baseboard management controllers (BMCs). If your security profile does not permit the Cluster Baremetal Operator to access the network where the BMHs have their BMCs in order to enable Redfish automation, you can use BYO ISO support. However, in BYO mode, Red Hat OpenShift Container Platform cannot automate the powering on of BMHs.

# Support matrix for hosted control planes

Because multicluster engine for Kubernetes Operator includes the HyperShift Operator, releases of hosted control planes align with releases of multicluster engine Operator. For more information, see OpenShift Operator Life Cycles.

## Management cluster support

Any supported standalone Red Hat OpenShift Container Platform cluster can be a management cluster.


[NOTE]
----
A single-node Red Hat OpenShift Container Platform cluster is not supported as a management cluster. If you have resource constraints, you can share infrastructure between a standalone Red Hat OpenShift Container Platform control plane and hosted control planes. For more information, see "Shared infrastructure between hosted and standalone control planes".
----

The following table maps multicluster engine Operator versions to the management cluster versions that support them:



## Hosted cluster support

For hosted clusters, no direct relationship exists between the management cluster version and the hosted cluster version. The hosted cluster version depends on the HyperShift Operator that is included with your multicluster engine Operator version.


[NOTE]
----
Ensure a maximum latency of 200 ms between the management cluster and hosted clusters. This requirement is especially important for mixed infrastructure deployments, such as when your management cluster is on AWS and your worker nodes are on-premise.
----

The following table maps multicluster engine Operator versions to the hosted cluster versions that you can create by using the HyperShift Operator that is associated with that version of multicluster engine Operator:



## Hosted cluster platform support

The following table indicates which Red Hat OpenShift Container Platform versions are supported for each platform of hosted control planes.


[IMPORTANT]
----
For IBM Power and IBM Z, you must run the control plane on machine types based on 64-bit x86 architecture, and node pools on IBM Power or IBM Z.
----

In the following table, Management cluster version refers to the Red Hat OpenShift Container Platform version where the multicluster engine Operator is enabled:



## Updates of multicluster engine Operator

When you update to another version of the multicluster engine Operator, your hosted cluster can continue to run if the HyperShift Operator that is included in the version of multicluster engine Operator supports the hosted cluster version. The following table shows which hosted cluster versions are supported on which updated multicluster engine Operator versions:



For example, if you have an Red Hat OpenShift Container Platform 4.14 hosted cluster on the management cluster and you update from multicluster engine Operator 2.4 to 2.5, the hosted cluster can continue to run.

## Technology Preview features

The following list indicates Technology Preview features for this release:

* Hosted control planes on IBM Z in a disconnected environment
* Custom taints and tolerations for hosted control planes on OpenShift Virtualization
* NVIDIA GPU devices on hosted control planes for OpenShift Virtualization

* The multicluster engine for Kubernetes Operator 2.7 support matrix
* Red Hat Red Hat OpenShift Container Platform Operator Update Information Checker
* Shared infrastructure between hosted and standalone control planes